@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}  

body {
    background-color: #FFFFFF;
}

nav {
    background-color: #564787;
}

nav a {
    color: #F5F5F5;
    text-decoration: none;
}

nav a:hover{
    color: #2191FB;
}

.card {
    border: 5px solid black;
    border-radius: 20px;
}

.card-body {
    text-align: center;
}

footer {
    color: #F5F5F5;
    background-color: #564787;
    width: 100%;
}@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}  

body {
    background-color: #FFFFFF;
}

nav {
    background-color: #564787;
}

nav a {
    color: #F5F5F5;
    text-decoration: none;
}

nav a:hover{
    color: #2191FB;
}

.card {
    border: 5px solid black;
    border-radius: 20px;
}

.card-body {
    text-align: center;
}

footer {
    color: #F5F5F5;
    background-color: #564787;
    width: 100%;
}

.feedback-icon {
    transition: color 0.3s ease, transform 0.2s ease;
    font-size: 1.2rem;
}

.feedback-text {
    transition: color 0.3s ease;
}

.scale-up {
    transform: scale(1.3);
}

.valid-feedback-icon {
    color: green;
}

.invalid-feedback-icon {
    color: gray;
}